#header {
    padding: 60px;
    text-align: center;
    font-size: 30px;
}

.level {
    float: left;
    width: 33%;
}

.info {
    float: left;
    width: 50%;
}

.play {
    float: left;
    max-width: 50%;
    padding: 30px;
}