.header-image {
    background-image: url('https://media.istockphoto.com/id/1147821366/vector/arm-with-dumbbell-vector-design-illustration-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=tw20RRJqG_h1ThCApHHyi6kmcPYSpNDiSyuxSRWqsFM=');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 70px;
    text-align: center;
    font-size: 30px;
}


#choices {
    text-align: center;
}

div.form {
    display: block;
    text-align: center;
} 

form {
    display: inline-block;
    
    margin:0 auto;
    text-align: center;
}
/* .level {
    float: left;
    width: 33%;

} */

.info {
    float: left;
    width: 50%;
}

.play {
    float: left;
    max-width: 50%;
    padding: 30px;
}

#difficulty_container {  
    text-align: center;
    display: flex;
    max-width: 33%;
}

#beginner {
    padding:200px;
}

#beginner img {
    width: 480px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#intermediate {
    padding: 200px;
}

#intermediate img {
    /*min-width: 25%;*/
    width: 480px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 300px;
    /*max-height: 55%;*/
} 

#expert {
    padding: 200px;
}
/* #expert img {
    max-width: 75%;
} */

#expert img {
    width: 480px;
    height: 350px;
    position: absolute;
    top: 0px;
    left: 600px;
}